<template>
    <b-container fluid>
      <b-row>
        <b-col ></b-col>
        <b-col cols="6">
          <form-component></form-component>
          
        </b-col>
        <b-col></b-col>
      </b-row>
      <b-row>
        <b-col >
          <b-form inline class="justify-content-center">
            <b-form-input
            id="inline-form-input-name"
            class="mb-2 mb-sm-0 search"
            placeholder="Search..."
            v-model="input.search"
            ></b-form-input>

            <b-form-group label="Filter Tanggal" class="search" v-slot="{ ariaDescribedby }">
            <b-form-radio v-model="input.filter_tgl" :aria-describedby="ariaDescribedby" name="tanggal" value="tanggal ganjil">Tanggal Ganjil</b-form-radio>
            <b-form-radio v-model="input.filter_tgl" :aria-describedby="ariaDescribedby" name="tanggal" value="tanggal genap">Tanggal Genap</b-form-radio>
            </b-form-group>
            <b-form-group label="Filter Minggu" class="search" v-slot="{ ariaDescribedby }">
            <b-form-radio v-model="input.filter_mg" :aria-describedby="ariaDescribedby" name="minggu" value="minggu ganjil">Tanggal Ganjil</b-form-radio>
            <b-form-radio v-model="input.filter_mg" :aria-describedby="ariaDescribedby" name="minggu" value="minggu genap">Tanggal Genap</b-form-radio>
            </b-form-group>

            <b-button variant="primary" @click='search()' >Search</b-button>
        </b-form>
        </b-col>
      </b-row><br>
      <b-row>
        <b-col class="overflow-auto">
        <v-simple-table>
            <template v-slot:default>
            <thead>
                <tr>
                <th class="text-left">
                    Nama
                </th>
                <th class="text-left">
                    Pekerjaan
                </th>
                <th class="text-left">
                    Tanggal Lahir
                </th>
                <th class="text-left">
                    Keterangan
                </th>
                <th class="text-left">
                    Action
                </th>
                </tr>
            </thead>
            <tbody>
                <tr
                v-for="item in humans"
                :key="item.id"
                >
                <td>{{ item.nama }}</td>
                <td>{{ item.pekerjaan }}</td>
                <td>{{ item.tanggal_lahir }}</td>
                <td>
                    <b-badge variant="primary">{{ item.keterangan.split(', ')[0] }}</b-badge>
                    <b-badge variant="info">{{ item.keterangan.split(', ')[1] }}</b-badge>
                </td>
                <td>
                    <b-button variant="warning" @click = "editData(item)" class="mr-5">Edit</b-button>
                    <b-button variant="danger" @click = "removeData(item.id)">Delete</b-button>
                </td>
                </tr>
            </tbody>
            </template>
        </v-simple-table>
        <div class="text-center">
            <v-pagination
            v-model="page"
            @input="go()"
            :length="lengthPage"
            :total-visible="perPage"
            ></v-pagination>
        </div>
        </b-col>
      </b-row>
    </b-container>
</template>

<script>
import { mapActions } from 'vuex'
import FormComponent from '../components/FormComponent.vue'
export default {
    data : () => ({
        apiDomain :"http://127.0.0.1:8000",
        input : {
            search : '',
            filter_tgl : '',
            filter_mg : ''
        },
        humans : [],
        page : 0,
        lengthPage : 0,
        perPage : 0,
    }),
    components : {
        FormComponent,
    },
    computed :{
        filter () {
            return this.input.filter_tgl +', ' + this.input.filter_mg
        },
    },
    methods : {
        go(){
            const config = {
                method : "post",
                url : this.apiDomain + '/api/crud/show?page=' + this.page,
                data : {
                    'search' : this.input.search,
                    'filter' : this.filter,
                }
            }
            this.axios(config)
                .then( res => {
                    let dt = {...res.data}
                    this.humans = dt.data.data
                    this.page = dt.data.current_page
                    this.lengthPage = dt.data.last_page
                    this.perPage = dt.data.per_page
                })
                .catch( error => {
                    console.log(error.message)
                })
        },
        search(){
            this.go()
            this.input = {
                search : '',
                filter_tgl : '',
                filter_mg : ''
            }
        },
        async removeData(id){
            const config = {
                method : "delete",
                url : this.apiDomain + "/api/crud/delete/" + id,
            }
            try {
                let res = await this.axios(config)
                alert(res.data.message)
                this.setHumans({
                    search : this.input.search,
                    filter : this.filter,
                    page : this.page
                })
            } catch (error) {
                alert(error.message)
            }
        },
        editData(item){
            this.setStatus({
                status : true,
                updata : item
            });
        },
        ...mapActions({
            "setStatus" : 'form/setStatus',
        })
    },
    created(){
        this.go()
    }
}
</script>
<style>
    .search{
        margin-right: 50px;
    }
</style>