<template>
  <div style="border : 1px solid black; margin: 25px; padding:25px; border-radius: 25px; width:100%;">
    <h3 style="text-align: center;">Society's Form</h3>
    <div style="background-color:palevioletred;color: red;" v-if="errors.length > 0">
        <p>Tolong Ikuti Instruksi dibawah ini</p>
        <ul>
          <li v-for="error in errors" :key="error">{{error}}</li>
        </ul>
    </div>

    <b-form>
      <b-form-group
        id="nama"
        label="Nama"
        label-for="nama"
        label-text-align="left"
      >
        <b-form-input
          v-model="updata.nama"
          type="text"
          placeholder="Masukkan Nama"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        id="pekerjaan"
        label="Pekerjaan"
        label-for="pekerjaan"

      >
        <b-form-input
          v-model="updata.pekerjaan"
          type="text"
          placeholder="Masukkan Pekerjaan"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group
        id="birth"
        label="Tanggal Lahir"
        label-for="birth"

      >
        <b-form-datepicker
          v-model="updata.tanggal_lahir"
          type="date"
          value="updata.tanggal_lahir"
          placeholder="Masukkan Tanggal Lahir"
          required
        ></b-form-datepicker>
      </b-form-group>

      <b-button v-if="status == false" type="submit" variant="primary" @click.prevent = "addData()" style="width:100%">Submit</b-button>
      <div v-else>
        <b-button @click.prevent = "updateData(updata.id)" style="width:100%; margin-bottom: 15px;" variant="warning" >Update</b-button>
        <b-button @click.prevent = "cancelEdit()" style="width:100%" variant="danger">Cancel</b-button>
      </div>

    </b-form>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex"
export default {
    data() {
      return {
        errors : [],
        apiDomain : "http://127.0.0.1:8000"
      }
    },
    computed : {
      ...mapGetters({
        status : 'form/status',
        updata : 'form/updata'
      })
    },
    methods: {
      cancelEdit(){
        this.setStatus({
          status : false,
          updata : {
            nama : '',
            pekerjaan : '',
            tanggal_lahir : '',
            keterangan : '',
            id : ''
          }
        })
      },
      updateData(id){
        const config ={
                method : "post",
                url : this.apiDomain + `/api/crud/update/${id}?_method=PUT`,
                data : {
                    'nama' : this.updata.nama,
                    'pekerjaan' : this.updata.pekerjaan,
                    'tanggal_lahir' : this.updata.tanggal_lahir
                }
            }
        this.axios(config)
                .then(res => {
                    alert(res.data.message)
                    this.go()
                    this.cancelEdit()
                })
                .catch(error =>{
                    console.log(error)
                })
      },
      addData(){
            const config ={
                method : "post",
                url : this.apiDomain + "/api/crud/store",
                data : {
                    'nama' : this.updata.nama,
                    'pekerjaan' : this.updata.pekerjaan,
                    'tanggal_lahir' : this.updata.tanggal_lahir
                }
            }
            console.log(config)
            this.axios(config)
                .then(res => {
                    alert(res.data.message)
                    this.go()
                })
                .catch(error =>{
                    console.log(error)
                })
      },
      go(){
        this.$parent.go()
      },

      ...mapActions({
        setStatus : 'form/setStatus'
      })
    }
  }
</script>