<template>
  <v-app>
    <v-main>
      <index-view></index-view>
    </v-main>
  </v-app>
</template>

<script>
import IndexView from './views/IndexView.vue';

export default {
  name: 'App',

  components: {
    IndexView,
  },

  data: () => ({
    //
  }),
};
</script>
